
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);


body {
	background-image: url("../imgs/1.jpg");
   }

table{
	max-width: 500px;
	width: 80%;
	text-align: left;
	margin: 0 auto;
	background: white;
	color: black;
	border: 0 none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
}

#search {
	text-align: center;
}

#search input[type="text"] {
	background: url(search1.png) no-repeat 6px 2px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }



td, th {
	border: 1px solid black;
	padding: 5px;
	text-align: left;
}

p {
	text-align:center;
	color:white;
	font-family: 'Lato' ;
       font-size: 48px;
}

#txtHint {
	text-align:center;
	color:white;
	font: 12px Arial,Helvetica,Sans-serif;
}
